{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    
    <form method="post" action="{% url 'user_login' %}">
        {% csrf_token %}
        <div class="input-box">
            <span><i class="fa fa-user-o"></i></span>
            <label for="username">Kullanıcı Adı:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-box">
            <span><i class="fa fa-key"></i></span>
            <br>
            <label for="password">Şifre:</label>
            <input type="password" id="password" name="password" required>
            <br>
        </div>
        <br>
        <br>
        <button type="submit"><i class="fa fa-sign-in"></i>Giriş Yap</button>
    </form>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
</body>
</html>
